*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Konkhmer Sleokchher', cursive;
    color: white;
}
/* DESKTOP  FIRS */
/* Classe comune per il colore */
.text_gray{
    color: gray;
}
.svg_sidebar{
    filter: invert(0.10);
}
/* INIZIO SIDEBAR */
.sidebar{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: black;
    height: 100%;
}
.container_sidebar{
    width: 100%;
    margin: 0 auto;
    padding:10px 10px 0 10px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row_sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.col_sidebar{
    width: calc(100% - 10px);
    margin: 5px;
}
/* Inizio logo top 0 left 0 */
.logo_desk{
    width: 80%;
}
.logo_smart{
    display: none;
}

.list_songs{
    overflow-y: auto;
    height: 30vh;
    line-height: 30px;
}
.install{
    width: calc(100% - 10px);
    height: 80px;
   
    margin: 5px;
    z-index: 1;
}
/* COLONNE HOME E LIBRERIA */
.content_side{
    width: 15%;
    margin: 2px;
}
.right_side{
    width: 100%;
}
.fa-sharp{
    font-size: 45px;
    vertical-align: middle;
    margin-right: 5px;
    color: gray;
}
.size_sidebar{
    font-size: 11px;
}
.created_playlist{
    font-size: 15px;
}
/* Inizio parte sotto */
.download{
    width: 15px;
    margin-right: 6px;
    vertical-align: top;
}
.profile{
    border-radius: 50%;
    background-color: gray;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
hr{
    margin: 1px 0 10px 0;
}
.size_name{
    font-size: 17px;
    padding-left: 5px;
}
/* FINE SIDEBAR */
/* INIZIO HEADER */
header{
    width: 100vw ;
    background-color: rgba(0, 0, 0, 0.356);
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 3;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container_header{
    height: 50px;
    margin-right: 5px;
    align-items: center;
}
.upgrade{
    font-size: 13px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.80);
    border: 2px solid rgba(255, 255, 255, 0.80);
    border-radius: 50px;
    padding:5px 35px ;
    font-family: 'Konkhmer Sleokchher', cursive;
}
/* FINE HEADER */

/* INIZIO BOTTOMBAR */
.bottombar{
    width: 100vw;
    background-color: red;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 6;
}
/* Display flex */
.flex{
    display: flex;
}
.col_50{
    width: 50%;
    height: 20px;
    background-color: aqua;
}
.container_bottombar{
    width: 99%;
    margin: 0 auto;
    background-color: blue;
}
/* Inizio prima colonna da 20% */
.row_bottombar{
    margin-top: 10px;
}
.col_bottombar_20{
    width: 20%;
    height: 80px;
    background-color: yellow;
    align-items: center;
}
.col_bottombar_60{
    width: 60%;
    height: 80px;
    background-color: green;
}
.content_first_right{
    width: 30%;
}
.content_first_left{
    width: 70%;
}
.col_first_left{
    width: 30%;
    background-color: blueviolet;
    height: 20px;
}
.col_first_right{
    width: 70%;
    background-color: rgb(138, 124, 151);
    height: 20px;
}
 /* Inizio colonna da 60% in mezzo  */
 .col_bottombar_60.flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .col_middle_static{
    width: 200px;
    height: 20px;
    background-color: yellowgreen;
 }
 .col_middle_adaptive{
    width: 70%;
    height: 20px;
    background-color: burlywood;
 }
 /* Inizio colonna da 20% finale */
 .container_last{
    width: 100%;
    height: 20px;
    background-color: green;
 }


/* FINE BOTTOMBAR */

/* INIZIO MAIN */
main{
    width: 100vw ;
    background-color: blue;
    height: 100vh;
    padding-top: 80px;
    padding-left: 200px;
}
nav.flex{
    justify-content: center;
}
.ul_nav.flex{
    background-color: red;
    width: 60%;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}
.nav_li{
    width: 50px;
    height: 20px;
    margin: 10px;
    background-color: chartreuse;
}
.container_main{
    width: 99%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: coral;
    height: 100px;
}
/* INIZIO SECTION RECENTLY */
.col_recently{
    width: calc(100% / 6 - 20px);
    height: 30px;
    background-color: chartreuse;
    margin: 10px;
}
/* INIZIO SECTION JOHN DOE e Artisti popolari */
.row_33{
    width: 33% ;
    background-color: red;
}
.margin{
    margin: 10px;
}

/* FINE MAIN */

@media screen and (max-width: 900px){
    /* Inizio main */
    .row_recently{
        flex-wrap: wrap;
    } 
   .col_recently{
        width: calc(100% / 4 - 20px);
    }
    .row_33{
         width: 50% ;
    }
    /* Fine main */

}
@media screen and (max-width: 768px){
    /* Inizio main */
    .col_recently{
        width: calc(100% / 2 - 20px);
    }
    .row_33{
        width: 100%;
    }
    /* Fine main */
    
}
@media screen and (max-width: 600px){
    /* Inizio sidebar */
    .logo_desk{
        display: none;
    }
    .logo_smart{
        display: block;
    }
    .right_side{
        display: none;
    }
    .playlist, .list_songs{
        display: none;
    }
    .sidebar{
        width: 40px;
    }
    .left_side{
        width: 100%; 
        text-align: center;
    }
    .container_sidebar{
        padding: 0;
    }
    hr{
        display: none;
    }
    /* Fine sidebar */
    /* Inizio main */
    main{
        padding-left: 40px;
    }

    /* Fine main */
}