*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Konkhmer Sleokchher', cursive;
    color: white;
}

/* DESKTOP  FIRS */
/* Classe comune per il colore */
.text_gray{
    color: gray;
}
.svg_sidebar{
    filter: invert(0.10);
}
a{
    text-decoration: none;
    color: gray;
}
/* Inizio hover */
a:hover{
    color: white;
}
.position_relative{
    position: relative;   
}
.play_absolute{
    display: none;
    position: absolute;
    top: 0;
    background-color: #07080a60;
    width: 100%;
    height: 100%;
}
.play_absolute.radius{
    border-radius: 50%;
}
.play_middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.position_relative:hover .play_absolute{
    display: block;
}
/* INIZIO SIDEBAR */
.sidebar{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: black;
    height: 100%;
}
.container_sidebar{
    width: 100%;
    margin: 0 auto;
    padding:10px 10px 0 10px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row_sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.col_sidebar{
    width: calc(100% - 10px);
    margin: 5px;
}
/* Inizio logo top 0 left 0 */
.logo_desk{
    width: 80%;
}
.logo_smart{
    display: none;
}
.list_songs{
    overflow-y: auto;
    height: 30vh;
    line-height: 30px;
}
.install{
    width: calc(100% - 10px);
    height: 80px;
    margin: 5px;
    z-index: 1;
}
/* COLONNE HOME E LIBRERIA */
.content_side{
    width: 15%;
    margin: 2px;
}
.right_side{
    width: 100%;
}
.fa-sharp{
    font-size: 45px;
    vertical-align: middle;
    margin-right: 5px;
    color: gray;
}
.fa-sharp:hover{
    color: white;
}
.size_sidebar{
    font-size: 11px;
}
.created_playlist{
    font-size: 15px;
}
/* Inizio parte sotto */
.download{
    width: 15px;
    margin-right: 6px;
    vertical-align: top;
}
.profile{
    border-radius: 50%;
    background-color: gray;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
hr{
    margin: 1px 0 10px 0;
}
.size_name{
    font-size: 17px;
    padding-left: 5px;
}
.border{
    border-left: 1px solid greenyellow;
    position: relative;
    left: 0;
}
/* FINE SIDEBAR */
/* INIZIO HEADER */
header{
    width: 100vw ;
    background-color: rgba(0, 0, 0, 0.356);
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 3;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container_header{
    height: 50px;
    margin-right: 5px;
    align-items: center;
}
.upgrade{
    font-size: 13px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.80);
    border: 2px solid rgba(255, 255, 255, 0.80);
    border-radius: 50px;
    padding:5px 35px ;
    font-family: 'Konkhmer Sleokchher', cursive;
}
.upgrade:hover{
    transform: scale(1.1);
}
/* FINE HEADER */

/* INIZIO BOTTOMBAR */
.bottombar{
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 6;
}
/* Display flex */
.flex{
    display: flex;
}
.col_50{
    width: 50%;
    text-align: center;
    font-size: 13px;
}
.container_bottombar{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(39, 39, 39);
}
/* Inizio prima colonna da 20% */
.row_bottombar{
    justify-content: space-between;
}
.col_bottombar_20{
    width: 20%;
    height: 80px;
    align-items: center;
}
.col_bottombar_60{
    width: 70%;
    height: 80px;
}
.col_bottombar_20.first.flex{
    width: 200px;
}
.content_first_right{
    width: 30%;
    margin-bottom: 10px;
}
.h4_bottombar{
    font-size: 12px;
}
.content_first_left{
    width: 70%;
}
.col_first_left{
    width: 30%;
}
.col_first_right{
    width: 70%;
    margin-left: 10px;
}
.under:hover{
    color: white;
    text-decoration: underline;
}
 /* Inizio colonna da 60% in mezzo  */
 .col_bottombar_60.flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .col_middle_static{
    width: 200px;
   
    text-align: center;
    align-items: center;
 }
 .col_static{
    width: 20%;
    font-size: 18px;
    vertical-align: middle;
 }
 .col_static.play{
    width: 40%;
    font-size: 25px;
 }
 .col_static.play:hover{
    transform: scale(1.3);
}

 .col_middle_adaptive{
    width: 60%;
 }
 /* Inizio colonna da 20% finale */

 .ul_bottombar{
    list-style-type: none;
    justify-content: center;
    width: 100%;
    font-size: 13px;
 }
 .col_bottombar_20.last{
    width: 200px;
 }
 .li_bottombar{
    width: calc(100% / 3);
 }
 .icon_bottombar{
    width: 50%;
    text-align: center;
 }
 .volume{
    width: 50%;
    position: relative;
    margin-bottom: 5px;
 }
 /* Inizio barra volume e minutaggio */
 .bar_volume{
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    position: absolute;
 }
 .level_volume, .green_level{
    width: 30%;
    border: 2px solid rgba(255, 255, 255, 0.822);
    border-radius: 10px;
    position: absolute;
 }
 .green_level{
    display: none;
    border: 2px solid greenyellow;
 }
 .ball_level{
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 29%;
    top: -6px;
 }
.volume:hover .ball_level, .volume:hover .green_level {
    display: block;
}

.duration{
    width: 100%;
    position: relative;
    margin: 6px 20px;
 }
 .duration:hover .ball_level, .duration:hover .green_level {
    display: block;
}

/* FINE BOTTOMBAR */

/* INIZIO MAIN */
main{
    background-color: #1a1f25;
    padding-top: 80px;
    padding-left: 200px;
    padding-bottom: 80px;
}
nav.flex{
    justify-content: center;
}
.ul_nav.flex{
    width: 70%;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}
.nav_li{
    margin: 10px;
    font-size: 10px;
    color:gray;
}
.underline{
    width: 40%;
    color: greenyellow;
    margin: 0 auto;
    
}
.container_main{
    width: 99%;
    margin: 0 auto;
    margin-top: 20px;
}
.covers{
    width: 100%;
    display: block;
}
.describtion{
    font-size: 10px;
}
.text_align{
    text-align: center;
    font-size: 13px;
}
.title_main{
    margin-left: 10px;
}
/* INIZIO SECTION RECENTLY */
.row_recently{
    margin-bottom: 30px;
}
.col_recently{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}
/* INIZIO SECTION JOHN DOE e Artisti popolari */
.row_33{
    width: 33% ;
}
.margin{
    margin: 10px;
}
.radius{
    border-radius: 50%;
}

/* FINE MAIN */

@media screen and (max-width: 900px){
    /* Inizio main */
    .row_recently{
        flex-wrap: wrap;
    } 
   .col_recently{
        width: calc(100% / 4 - 20px);
    }
    .row_33{
         width: 50% ;
    }
    /* Fine main */

}
@media screen and (max-width: 768px){
    /* Inizio main */
    .col_recently{
        width: calc(100% / 2 - 20px);
    }
    .row_33{
        width: 100%;
    }
    /* Fine main */
    /* Inizio bottombar */
    .content_first_right.flex{
        flex-direction: column;
    }
    /* Fine bottombar */
    
}
@media screen and (max-width: 600px){
    /* Inizio sidebar */
    .logo_desk{
        display: none;
    }
    .logo_smart{
        display: block;
    }
    .right_side{
        display: none;
    }
    .playlist, .list_songs{
        display: none;
    }
    .sidebar{
        width: 40px;
    }
    .left_side{
        width: 100%; 
        text-align: center;
    }
    .container_sidebar{
        padding: 0;
    }
    hr{
        display: none;
    }
    /* Fine sidebar */
    /* Inizio main */
    main{
        padding-left: 40px;
    }
    .underline{
        display: block;
    }
    /* Fine main */
}