*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DESKTOP  FIRS */
/* INIZIO SIDEBAR */
.sidebar{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: black;
    height: 100%;
}
.container_sidebar{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row_sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.col_sidebar{
    width: calc(100% - 10px);
    height: 100px;
    background-color: aqua;
    margin: 5px;
}
.col_sidebar.overflow{
    overflow-y: auto;
}
.install{
    width: calc(100% - 10px);
    height: 100px;
    background-color: yellow;
    margin: 5px;
    z-index: 1;
}

/* FINE SIDEBAR */

/* INIZIO HEADER */
header{
    width: 100vw ;
    background-color: rgba(128, 128, 128, 0.445);
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 3;  
    display: flex;
    justify-content: flex-end;
}
.container_header{
    margin: 20px;
    background-color: yellow;
    width: 100px;
    height: 50px;
}
/* FINE HEADER */

/* INIZIO BOTTOMBAR */
.bottombar{
    width: 100vw;
    background-color: red;
    height: 100px;
    position: fixed;
    bottom: 0;
    z-index: 6;
}
/* Display flex */
.flex{
    display: flex;
}
.col_50{
    width: 50%;
    height: 20px;
    background-color: aqua;
}
.container_bottombar{
    width: 99%;
    margin: 0 auto;
    background-color: blue;
}
/* Inizio prima colonna da 20% */
.row_bottombar{
    margin-top: 10px;
}
.col_bottombar_20{
    width: 20%;
    height: 80px;
    background-color: yellow;
    align-items: center;
}
.col_bottombar_60{
    width: 60%;
    height: 80px;
    background-color: green;
}
.content_first_right{
    width: 30%;
}
.content_first_left{
    width: 70%;
}
.col_first_left{
    width: 30%;
    background-color: blueviolet;
    height: 20px;
}
.col_first_right{
    width: 70%;
    background-color: rgb(138, 124, 151);
    height: 20px;
}
 /* Inizio colonna da 60% in mezzo  */
 .col_bottombar_60.flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .col_middle_static{
    width: 200px;
    height: 20px;
    background-color: yellowgreen;
 }
 .col_middle_adaptive{
    width: 70%;
    height: 20px;
    background-color: burlywood;
 }
 /* Inizio colonna da 20% finale */
 .container_last{
    width: 100%;
    height: 20px;
    background-color: green;
 }


/* FINE BOTTOMBAR */

/* INIZIO MAIN */
main{
    width: 100vw ;
    background-color: blue;
    height: 100vh;
    padding-top: 100px;
    padding-left: 250px;
}
.ul_nav.flex{
    list-style-type: none;
    justify-content: center;
}
.nav_li{
    width: 50px;
    height: 20px;
    margin: 10px;
    background-color: chartreuse;
}
.container_main{
    width: 99%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: coral;
    height: 100px;
}
/* INIZIO SECTION RECENTLY */
.col_recently{
    width: calc(100% / 6 - 20px);
    height: 30px;
    background-color: chartreuse;
    margin: 10px;
}
/* INIZIO SECTION JOHN DOE e Artisti popolari */
.row_33{
    width: 33% ;
    background-color: red;
}
.margin{
    margin: 10px;
}

/* FINE MAIN */
